page-rtf-form {
    object {
        width: 100%;
        height: 50em;
    }
    ion-label {
        color: primary;
    }
    ion-grid {
        border-radius: 25px;
        border: solid blue
    }
    .childColumn {
        border: solid blueviolet;
    }
    .labelOther {
        font-size: 1.25em;
        text-align: right;
    }
    .labelOtherLeft {
        font-size: 1.25em;
        text-align: left;
    }
    .radio_box {
        border-radius: 25px;
        border: 2px solid blue;
    }
}