<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chapter {{selectedItem.chapter}} <div id="titleDiv">Page {{selectedPage.pgNbr}}</div></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h3 text-center *ngIf="selectedItem">
    {{selectedChapter.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>

  <ion-content padding>

    <button ion-button block (click)="prevPg()">
      &lt;&lt;&nbsp;&nbsp;prev page
    </button>

    <div id='pageTxt'>
      {{selectedPage.pgText}}
    </div>

    <div id="pgNbr">
      - {{selectedPage.pgNbr}} -
    </div>
    <br>
    <button ion-button block (click)="nextPg()">
      next page&nbsp;&nbsp;&gt;&gt;
    </button>




  </ion-content>


</ion-content>