<!--
  Generated template for the RtfDisplayFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Center City - RTF Form from Database </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div ng-app="myApp" ng-controller="myCtrl">
    <div ng-bind-html="trustedHtml"></div>
  </div>

  <div>[innerHTML]="htmllLine"</div>

  <button ion-button block (click)="GetPDFDataAndForm()">
    Get PDF Form and Data
  </button>

  <button ion-button block (click)="ShowFormData()">
      Show Data on Form
    </button>

  <form [formGroup]="myForm">

    <ion-item *ngFor="let d of dataIs">
      <ion-grid>
        <ion-row>
          <div *ngIf="useRedit;else other_content">
            <ion-col col-12>
              {{d.kind}} - {{d.data.author}} - {{d.data.id}}
            </ion-col>
          </div>

          <ion-col col-5>
            {{d.fieldName}}
          </ion-col>
          <ion-col col-4>
            {{d.fieldValue}}
          </ion-col>
          <div *ngIf="d.formFieldType==='input'; then thenBlock else elseBlock"></div>

          <ng-template #elseBlock>Content to render when condition is false.</ng-template>

          <ng-template #thenBlock>
            <ion-col col-3>
              <div *ngIf="d.fieldName==='Name'; else elseBlock"><input formControlName={{d.fieldName}} type="text" /></div>
              <ng-template #elseBlock><input type="text"/></ng-template>
            </ion-col>
          </ng-template>
          <ng-template #elseBlock>
            <ion-col col-3>
              {{d.fieldType}}
            </ion-col>
          </ng-template>

        </ion-row>
      </ion-grid>

    </ion-item>
  </form>

</ion-content>